<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css"> 
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This site was created for a class. It uses mapbox and other weather stack </p>
        <img class="portrait" src="/img/me.jpg">
        </div>        
        {{>footer}}        
    </body>
</html> 